
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.company-name{
    font-weight: 700;
    font-size: 3rem;
}
/* bg-color */
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}

/* buttom */
.primary-btn{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    border-radius: 8px;
    font-weight: 600;
}

/* sahred tyle */
.feature-title{
    font-size: 2.18rem;
    font-weight: 700;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* dark02 */
.dark01{
    color: #131313;
}
.dark02{
  color: #424242;
}
.dark03{
    color: #727272;
}
.text-primary{
    color: #FF900E;
}
.display-flex{
    display: flex;
}
main section{
    margin-top: 130px;
}



.navbar{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}
.nav_name{
    /* display: flex; */
    list-style: none;   
    margin-right: 30px;
}
.nav-link {
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-title{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-name{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
}
/* teams-stule */
.teams{
    align-items: center;
}
.teams-photo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
}
.team-title{
    margin-left: 73px;
    /* padding-left: 80px; */
    max-width: 450px;
}

#Quick-list{
    font-size: 500;
}
/* fact work */
.feature-title{
    font-weight: 700;
    font-size: 2rem;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
}
.fact-name{
    font-weight: 600;
    font-size: 1rem;
}
.third-description{
    max-width: 450px;
}
/* sponsor styles */
.sponsor-title{
    /* align-items: center; */
    
    max-width: 540px;
    margin: 50px auto; 
    text-align: center; 
}
.sponosr-head{
   font-weight: 700; 
   font-size: 1.28rem;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}















/* responsive medio */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
    .teams-photo, .fact-container, .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
    }
    .sponsor-companies{
        gap: 30px;


    }
    .fact-container{
    justify-items: center;
     }
    .team-title{
        margin-left: 20px;
    }    
}
/* medium size responsive */
@media screen and (min-width: 576px ) and (max-width: 992px){
    .teams{
        flex-direction: column;
    }
    .fact-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .sponsor-companies{
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
.team-title{
    margin: 50px, auto;
}

}